<%- include("../classic/navBar.ejs") %>
<br>
<%- include("../classic/flash.ejs") %>

<div class="best dark">
    <% if(currUser){ %>
    <nav  class="fixed-bottom navbar best navbar-expand-lg bg-body-tertiary">
        <div class="col-12 ">
            <form action="/chats/<%= chats.id%>/reviews" method="post">

                <div style="display: flex;" class="col-10 offset-1">
                    <textarea style="height: 1.3rem" required name="message" placeholder="  Enter Your Opinion"  type="text" class="form-control"></textarea>
                    <button type="submit" style="margin-left: 0.5rem; border-radius: 50%; border: none; width: 4rem; height: 4rem;" class="form-control"><i style="font-size: 2rem; color: #20a88c; border: none; border-radius: 50%;" class="fa-solid fa-paper-plane"></i></button>
                </div>
            </form>
        </div>
    </nav>
    <% } %>
    
    <div style="height: 15rema;" class="card col-10 offset-1  text-bg-dark">
        <img style="height: 20rem; opacity: 0.5;" src="https://plus.unsplash.com/premium_photo-1682464651356-3c6780eff00c?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cm9ib3QlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww" class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class=" mb-1" style="display: flex; text-transform: capitalize; color: white; justify-content: center; text-decoration: underline;" ><h2><i style="margin-right: 0.5rem; font-size: 1.5rem;" class="fa-solid fa-star"></i><%- chats.title %></h2></div>
            <div class="mt-2 mb-1" style="display: flex; color: white; justify-content: center;" ><h4><li><%- chats.aims %> , <%- chats.category %></li></h4></div>
            <div class="mt-2 mb-1" style="display: flex; color: white; justify-content: center; text-transform: capitalize;" ><h3>Own By -- <%= chats.user.name%></h3></div>
            <div class="mt-2 mb-1" style="display: flex; color: white; justify-content: center; font-size: x-small" ><p style="font-size: 0.75rem;"> -- <%- chats.date %></p></div>
            
            <% if (currUser && currUser._id.equals(chats.user.id)){ %>
            
                <div style="display: flex; justify-content: center; "  class="d-flex flex-wrap " >
                  <a style="margin-bottom:10px; margin-right:10px; width: 90px; height: 35px;" class=" col-4 btn btn-outline-light"  type="button" href="/chats/<%= chats.id %>/edit"> Edit <i class="fa-regular fa-pen-to-square"></i> </a>
                  
                  <form method="POST" action="/chats/<%=chats._id%>?_method=DELETE" onsubmit="return confirm('Are you sure you want to delete - <%= chats.title %> - listing?');">
                    <button style=" margin-bottom:10px;margin-right:10px; width: 90px; height: 35px;" class=" col-4 btn btn-outline-light" type="submit">Delete <i class="fa-regular fa-trash-can"></i> </button>
                  
                  </form>
        
                </div>
             
            <% } %>
        </div>
      
      
        
    </div>
     
     
    <div id="best" class="new" style="border: 2px solid black; margin:1rem; border-radius: 20px; background-color:#c2e2e6 ;" >
        <h2 style="padding: 5px 0 0 0;" class="offset-4"><i style="margin-right: 1rem;" class="fa-brands fa-rocketchat"></i>All Chats</h2>
        
        <% for (review of chats.secondary){%>
            <div style="margin: 1rem; border-radius: 10px; background-color: #ffffff;" class="card ">
                <div class="card-header">
                    <h2 style="text-transform: uppercase;"> <i class="fa-solid fa-user-tie"></i> <%=review.user.name%></h2>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <h3 class="mb-4" style="text-transform: capitalize;"><i><%=review.message%></i></h3>
                    <footer style="font-size: small;" class="blockquote-footer"><%= review.date %><cite title="Source Title"></cite></footer>
                  </blockquote>
                </div>
            <% if (currUser && currUser._id.equals(chats.user.id)){ %>
                <div>
                    <form method="POST" action="/chats/<%=chats._id%>/reviews/<%=review._id%>?_method=DELETE" >
                        <button style="width: 100px;" class="mb-3 offset-8 btn btn-outline-danger" type="submit">Delete   <i style="margin-left: 0.5rem;" class="fa-regular fa-trash-can"></i></button>
                    </form>
                </div>
            <% } %>
            </div>
        <%}%>
        
    </div>
    <br><br><br><br><br><br><br><br>
</div>


<%- include("../classic/footer.ejs") %>
