<%- include("../classic/navBar.ejs") %>
<%- include("../classic/flash.ejs") %>
<div class="dark">

  <div class="best">
    <% for(chat of allchats){%>
    <a style="color: black; text-decoration: none;" href="/chats/<%=chat._id%>">
      <div  style=" display:inline-block; margin-left: 1.3rem; " class="p-2 g-col-6">
        <div  style="background-color: #c2e2e6;  height: 25rem;  display: inline-block; border: none; width: 21rem; " class="d-flex flex-nowrap mt-3 text-center card">
            <img style="width: 21rem;  height: 14rem;" src="<%= chat.image.url %>" class="card-img-top" alt="Chat Image">
            <div class="card-body">
              
                <div class="mb-3" style="text-decoration: underline; text-transform: uppercase;"><h4 class="card-title">Title : <%= chat.title %></h4></div>
                
                <div><p class="mb-2" style="padding: 0%; margin: 0; text-transform: capitalize;" class="card-text">Aim : <%=chat.aims%></p></div>

                <div><h6 style="padding: 0%; margin: 0; text-transform: capitalize;" class="card-text">Category : <%=chat.category%></h6></div>
                
             
              
            </div>
          </div>
        </div>
      </a>
    <%}%>

  </div>

</div>
<%- include("../classic/footer.ejs") %>
